</head>
<link href="http://kevinburke.bitbucket.org/markdowncss/markdown.css" rel="stylesheet"></link>
</head>
<body>
	<header>
	        <h1 class="header"><a href="http://zotero-manual.github.io/zotero-manual/">Mastering Zotero</a></h1>
	        <p class="header">A user guide for the Zotero reference manager</p>
	        <p>By Sebastian Karcher and Rintze M. Zelle</p>
	        <p><a href="http://creativecommons.org/licenses/by-sa/3.0/"><img src="http://i.creativecommons.org/l/by-sa/3.0/80x15.png"/></a></p>

	        <p><a class="buttons github" href="https://github.com/zotero-manual/zotero-manual">View On GitHub</a></p>

	      </header>
	      <section>
	{{content}} 
	      </section>
	      <footer>
	        <p><small>Hosted on <a href="https://pages.github.com">GitHub Pages</a> based on the Dinky theme</small></p>
	      </footer>
	    </div>
</body>