<head>
	
	
	<link href="http://kevinburke.bitbucket.org/markdowncss/markdown.css" rel="stylesheet">
	
</head>

<body>

	
	<section>
	{{content}}
	</section>
	<span>
	<span>
	<a href="#" onclick="window.open('http://delicious.com/save?v=5&provider={nigekelly}&noui&jump=close&url='+encodeURIComponent(location.href)+'&title='+encodeURIComponent(document.title), 'delicious','toolbar=no,width=550,height=550'); return false;"> Save to Delicious</a></br>
	
	<a data-pocket-label="pocket" data-pocket-count="none" class="pocket-btn" data-lang="en"></a></br>
	<script type="text/javascript">!function(d,i){if(!d.getElementById(i)){var j=d.createElement("script");j.id=i;j.src="https://widgets.getpocket.com/v1/j/btn.js?v=1";var w=d.getElementById(i);d.body.appendChild(j);}}(document,"pocket-btn-js");</script>
	
		<div data-bg-color="#fdfdfa" data-text-color="#ffffff" class="rdbWrapper" data-show-read-now="0" data-show-read-later="1" data-show-send-to-kindle="1" data-show-print="0" data-show-email="0" data-orientation="0" data-version="1"></div><script type="text/javascript">(function() {var s = document.getElementsByTagName("script")[0],rdb = document.createElement("script"); rdb.type = "text/javascript"; rdb.async = true; rdb.src = document.location.protocol + "//www.readability.com/embed.js"; s.parentNode.insertBefore(rdb, s); })();</script></br>
		</span>
			<span>		
	<a href="https://twitter.com/share" data-via="nigekelly" data-count="none">Share on Twitter</a></br>
	<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');
	</script></br>
	
	<a href="http://bufferapp.com/add" class="buffer-add-button" data-count="none" >Buffer</a></br>
	<script type="text/javascript" src="http://static.bufferapp.com/js/button.js"></script>
	
		</span>
	</span>
	

	
	
	<script>
	  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
	  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
	  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
	  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

	  ga('create', 'UA-43775514-1', 'nigekelly.github.io');
	  ga('send', 'pageview');

	</script>
	
	<!-- HitTail Code -->
	<script type="text/javascript">
		(function(){ var ht = document.createElement('script');ht.async = true;
		  ht.type='text/javascript';ht.src = '//108296.hittail.com/mlt.js';
		  var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ht, s);})();
	</script>
	
	  
 
</body>